[Unit]
Description=Icecast MPV Sink Service
After=network.target

[Service]
ExecStart=/bin/bash -c 'mpv $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf settings ICECAST_URL) $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf settings MPV_OPTIONS)'
Restart=on-failure

[Install]
WantedBy=multi-user.target
