[Unit]
Description=Icecast MPV Sink Service
After=network.target

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf stream ICECAST_IP); do sleep 5; done'
ExecStart=/usr/bin/mpv $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf mpv no_video --bool) $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf mpv volume) --input-ipc-server=/tmp/mpvsocket $(crudini --get /etc/icecast-mpv-sink/icecast-mpv-sink.conf stream ICECAST_URL)
Restart=always
RestartSec=5
EnvironmentFile=-/etc/icecast-mpv-sink/icecast-mpv-sink.conf

[Install]
WantedBy=multi-user.target
